<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <title>Fichar</title>
	<link href="/Style.css" rel="stylesheet"/>
</head>
<body>
	<div th:replace="../fragments/navbar :: header"></div>

	<div class="principal">
		<div> 
			
			<h1>Candidatos</h1>
			
			<a href="fichar/entrada" class="crear">Entrar</a>
			<a href="fichar/salida" class="crear">Salir</a>
	
			<table class="tabla">

				<thead>
					<tr>
						<th>ENTRADA/SALIDA</th>
						<th>Hora</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fichaje: ${listaFichajes}"> 
						<td th:if="${fichaje.esEntrada == true}" style="background-color: green;">ENTRADA</td>
						<td th:if="${fichaje.esEntrada == false}" style="background-color: red;">SALIDA</td>
						<td><span th:text="${fichaje.hora}"></span></td>
					</tr>

				</tbody>


			</table>
		</div>
	</div>

</body>
</html>